@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

:root,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#paper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#main-content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  max-width: 900px;
  margin: auto;
}

@media screen {
}

.posts {
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}
.thumbnail {
  width: 400px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
  cursor: pointer;
}

.thumbnail:hover {
  opacity: 0.5;
}

hr {
  max-width: 80%;
}

/* SLUG PAGES //////////////////////////////////////////////////////////////////////// */

#slug-main-container {
  max-width: 900px;
  margin: auto;
  margin-bottom: 50px;
}

.topic-image {
  width: 700px;
  height: 500px;
}
@media only screen and (max-width: 580px) {
  .topic-image {
    height: 400px;
  }
}
@media only screen and (max-width: 430px) {
  .topic-image {
    height: 300px;
  }
  #post-title {
    font-size: 34px;
  }
}

#main {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1e293b;
  }
}

@media only screen and (max-width: 500px) {
  #main-icon {
    height: 40px;
  }
}
